*{
    margin: 0;
    padding: 0;
    font-family: Inter, Arial;
}
/* HEADER */
.header{
    position: absolute;
    background-color: #00000038;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    height: 60px;
    right: 0;
    left: 0;
}
/* LEFT SECTION */
.header_left_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 4em;
}
.logo_text{
    width: 8em;
}
.logo_transparent{
    width: 4em;
    display: none;
}

/* RIGHT SECTION */
.header i{
    display: none; /* Hide the burger menu icon when the screen resolution is above 600 */
    color: #092836;
    font-size: 2.5em;
    color: #9c180e;
}
.header_right_section ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}
.header_right_section ul li a{
    color: white;
    text-decoration: none;
}

/* BODY */
.body{
    overflow: hidden;
}
.lp_background img{
    width: 100%;
    height: 38em;
    object-fit: cover; /* Streched the image to fill the given width and height */
    background-color: #5c0e08;
}
.lp_tagline{
    height: 15.5rem;
    display: flex;
    align-items: center;
}
.lp_tagline p{
    text-align: center;
    font-size: 2em;
    padding: 0 5em;
}

/* FOOTER */
.footer_middle_section{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 50px;
    font-size: 1.5em;
}
.footer_location,
.footer_contact{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}
.footer_location{
    width: 320px;
}
.footer_contact{
    width: 250px;
}
.footer_contact i,
.footer_location i{
    font-size: 1.2em;
    vertical-align: middle;
    padding: 3px;
    border: 1px solid;
    border-radius: 50%;
    margin-right: 5px;
}

@media (max-width: 600px) { /* Make the web responsive to 600 and below screen resolution */
    .logo,
    .logo_text{
        display: none;
    }
    .logo_transparent{
        display: block;
    }
    .menu{
        position: absolute;
        top: 92px;
        right: 0;
        left: 0;
        text-align: center;
        flex-direction: column;
        gap: 0;
        max-height: 0;
        overflow: hidden; /* Hide the menus */
    }
    .active{ /* Show the menu */
        max-height: 300px; 
        background-color: #00000038;
    }
    .header_right_section ul li{
        padding: 1rem;
    }
    .header i{
        display: block; /* Show the burger menu icon when the screen resolution is below 600 */
    }
    .lp_background img{ /* Adjust the position of the image */
        object-position: right;
        height: 30em;
    }
    .lp_tagline{
        height: 24.6rem;
        font-size: .65em;
    }
    .footer_middle_section{
        font-size: 1em;
        padding-bottom: 50px;
    }
    .footer_location,
    .footer_contact{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer_location{
        width: 190px;
    }
    .footer_contact{
        width: 180px;
    }
}

@media (max-width: 400px) {
    .lp_tagline{
        height: 20.6rem;
        font-size: .45em;
    }
    .lp_background img{ /* Adjust the position of the image */
        object-position: right;
        height: 25em;
    }
    .footer_middle_section{
        flex-direction: column;
        font-size: .85em;
    }
}
