*{
    margin: 0;
    padding: 0;
    font-family: Inter, Arial;
}

/* HEADER */
.header{
    position: absolute;
    background-color: #00000038;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    height: 60px;
    right: 0;
    left: 0;
}
/* LEFT SECTION */
.header_left_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 4em;
}
.logo_text{
    width: 8em;
}
.logo_transparent{
    width: 4em;
    display: none;
}

/* RIGHT SECTION */
.header i{
    display: none; /* Hide the burger menu icon when the screen resolution is above 600 */
    color: #092836;
    font-size: 2.5em;
    color: #9c180e;
}
.header_right_section ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}
.header_right_section ul li a{
    color: white;
    text-decoration: none;
}

/* LOGIN FORM */
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../Images/LP No Text.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 59.6rem;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: rgba(43, 43, 43, 0.582);
    width: 20rem;
    height: 25rem;
    gap: 12px;
    color: white;
    border-radius: 10px;
}
.form i{ /* User icon */
    font-size: 180px;
}
.form input{
    border: none;
    border-radius: 5px;
    padding: .5rem;
    outline-width: 0;
}
.password{
    position: relative;
}
.password i{ /* Eye icon */
    position: absolute;
    right: 5px;
    top: 5px;
    color: black;
    font-size: initial;
    cursor: pointer;
}
.form a{
    font-size: 10px;
    color: white;
    cursor: pointer;
}
.form button{
    background-color: #93160C;
    width: 2000%;
    border: none;
    border-radius: 20px;
    padding: .5rem;
    color: white;
    margin-top: 20px;
    margin-left: -100px;
}

@media (max-width: 600px) {
    .logo,
    .logo_text{ /* Change the logo depending on the screen resolution */
        display: none;
    }
    .logo_transparent{
        display: block;
    }
    .form{
        width: 15rem;
        height: 20rem;
    }
    .form i{
        font-size: 100px;
    }
    .password i{
        font-size: initial;
    }
}

@media (max-width: 400px) {
    .form{
        width: 10rem;
        height: 18rem;
    }
    .form i{
        font-size: 80px;
    }
    .password i{
        font-size: initial;
    }
}