*{ /* Reset to 0 the margin and padding of all components */
    margin: 0;
    padding: 0;
    font-family: Inter, Arial;
}

nav{
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgb(211, 211, 211);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0em;
}
.image_container img{
    width: 12em;
}
.nav_button_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.5em;
}
.nav_button_container div{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: .5em;
    transition: background-color .15s;
}
.nav_button_container div:hover{
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}
.staff_user{
    display: flex;
    gap: 8px;
    align-items: center;
}
.staff_name{
    text-align: center;
    font-weight: bold;
}
.staff_position{
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}
.staff_user i{
    font-size: 25px;
    color: white;
}
.staff_user button{
    background-color: red;
    padding: 8px;
    border: none;
    border-radius: 50%;
}
.active{
    background-color: rgb(243, 243, 243);
}
.link{
    text-decoration: none;
    color: initial;
}