*{
    margin: 0;
    padding: 0;
    font-family: Inter, Arial;
}

/* SIDEBAR */
nav{
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 50px;
    padding: 1.2em;
    position: absolute;
    top: 0;
    bottom: 0;
    color: #535353;
    font-weight: 500;
}
.logo img{
    width: 10em;
}
.sidenav{
    font-size: 1.2em;
}
.sidenav div{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: .5em;
    border-radius: 10px;
    padding: .5em;
    transition: background-color .15s, color .15s;
    cursor: pointer;
}

/* Highlight the nav that is clicked */
.active{
    background-color: #cd401b;
    color: white;
}

/* DASHBOARD */
.dashboard{
    height: 55.5em;
    background-color: #f9fafb;
    margin-left: 15em;
    padding: 2em;
}
/* Header */
.dashboard_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.date p{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #535353;
}
.date_selector input{
    padding: .5em;
    border: none;
    border-bottom: 1px solid;
    background-color: transparent;
}

/* BODY */
.dashboard_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
/* Stats Boxes */
.status{
    width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 3em;
}
.status_box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    color: white;
    padding: .5rem;
    border-radius: 10px;
    gap: 10px;
}
.overall{
    background-color: #212837;
}
.in_duty{
    background-color: #4a9f4c;
}
.off_duty{
    background-color: #cd401b;
}
.status_box i{
    font-size: 2.5em;
    color: #4a3677;
    margin-right: 10px;
}
.status_box p{
    font-size: 2.5em;
    font-weight: bold;
}
.status_box div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.status_box div span{
    font-size: 12px;
}

/* Attendance Summary */
.attendance_summary{
    width: 95%;
    background-color: white; 
    padding: 1.5em;
    border-radius: 25px;
}
.attendance_summary_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.attendance_summary h4{
    font-weight: 400;
    margin-bottom: 30px;
}
.summary_box{
    display: flex;
    align-items: center;
    font-size: 1.5em;
    gap: 10px;
    padding: .5em;
    background-color: #f9fafb;
    border-radius: 5px;
}
.summary_box p{
    width: 35px;
    font-weight: bold;
    text-align: center;
}
.summary_box i{
    font-size: 1.5em;
}
.on_time i{
    color: #4a9f4c;
}
.late i{
    color: #dd6b0b;
}
.absent i{
    color: #cd401b;
}
.total_hours i{
    color: #4366f2;
}

/* Recent Activities */
.recent_activity{
    width: 95%;
    height: 23em;
    background-color: white;
    padding: 1.5em;
    border-radius: 25px;
}
.recent_activity h4{
    font-weight: 400;
    margin-bottom: 30px;
}
.recent_activity_container{
    height: 85%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    border-radius: 10px;
}
.activity{
    display: flex;
    align-items: center;
    gap: 10px;
}
.activity p{
    font-weight: 600;
}
.activity i{
    font-size: 22px;
}
.activity span{
    opacity: .5;
    font-size: 14px;
}