*{
    margin: 0;
    padding: 0;
    font-family: Inter, Arial;
}

/* SIDEBAR */
nav{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    gap: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    color: #535353;
    font-weight: 500;
}
.logo,
.sidenav{
    margin: 0 1.2em;
}
.logo img{
    width: 10em;
}
.sidenav{
    font-size: 1.2em;
}
.sidenav div{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: .5em;
    border-radius: 10px;
    padding: .5em;
    transition: background-color .15s, color .15s;
    cursor: pointer;
}
.burger_menu{
    font-size: 2em;
    display: none;
}
.link{
    text-decoration: none;
    color: #535353;
}
.admin_container{
    margin-top: 300px;
    border-top: 2px solid;
    padding-top: 10px;
}
.admin{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.admin i{
    font-size: 3em;
}
.admin div span{
    font-size: smaller;
}

/* Highlight the nav that is clicked */
.active{
    background-color: #cd401b;
    color: white;
}
.active_nav{
    display: block;
    width: 12em;
}

/* DASHBOARD */
.dashboard{
    height: 55.5em;
    background-color: #f9fafb;
    margin-left: 14em;
    padding: 2em;
}

/* Header */
.dashboard_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.date p{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #535353;
}
.date_selector input{
    padding: .5em;
    border: none;
    border-bottom: 1px solid;
    background-color: transparent;
}

/* BODY */
.dashboard_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
/* Stats Boxes */
.status{
    width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 3em;
}
.status_box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    color: white;
    padding: .5rem;
    border-radius: 10px;
    gap: 10px;
}
.overall{
    background-color: #212837;
}
.in_duty{
    background-color: #4a9f4c;
}
.off_duty{
    background-color: #cd401b;
}
.status_box i{
    font-size: 2.5em;
    color: #4a3677;
    margin-right: 10px;
}
.status_box p{
    font-size: 2.5em;
    font-weight: bold;
}
.status_box div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.status_box div span{
    font-size: 12px;
}

/* Attendance Summary */
.attendance_summary{
    width: 95%;
    background-color: white; 
    padding: 1.5em;
    border-radius: 25px;
}
.attendance_summary_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.attendance_summary h4{
    font-weight: 400;
    margin-bottom: 30px;
}
.summary_box{
    display: flex;
    align-items: center;
    font-size: 1.5em;
    gap: 10px;
    padding: .5em;
    background-color: #f9fafb;
    border-radius: 5px;
}
.summary_box p{
    width: 35px;
    font-weight: bold;
    text-align: center;
}
.summary_box i{
    font-size: 1.5em;
}
.on_time i{
    color: #4a9f4c;
}
.late i{
    color: #dd6b0b;
}
.absent i{
    color: #cd401b;
}
.total_hours i{
    color: #4366f2;
}

/* Recent Activities */
.recent_activity{
    width: 95%;
    height: 23em;
    background-color: white;
    padding: 1.5em;
    border-radius: 25px;
}
.recent_activity h4{
    font-weight: 400;
    margin-bottom: 30px;
}
.recent_activity_container{
    height: 85%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    border-radius: 10px;
}
.activity{
    display: flex;
    align-items: center;
    gap: 10px;
}
.activity p{
    font-weight: 600;
}
.activity i{
    font-size: 22px;
}
.activity span{
    color: grey;
    font-size: 14px;
}


/* Sidebar responsiveness */
@media (max-width: 700px) {
    .dashboard{
        margin-left: 0;
    }
    .logo,
    .sidenav,
    .admin_container{
        display: none;
    }
    .burger_menu{
        display: block;
        position: absolute;
        top: 36px;
        left: 5px;
        font-size: 1.5em;
    }
    nav{
        height: 64em;
    }
    nav .active_menu{
        display: block;
    }
    .logo{
        margin-top: 50px;
    }
}

/* Dashboard responsiveness */
@media (max-width: 1000px) {
    .dashboard{
        height: 65em;
        margin-left: 12em;
    }
    .status{
        flex-direction: column;
        gap: 10px;
    }
    .summary_box{
        font-size: 1.2em;
    }
}
@media (max-width: 700px) {
    .dashboard{
        margin-left: 0;
    }
}
@media (max-width: 410px) {
    .dashboard{
        height: 70em;
    }
    .attendance_summary_container{
        grid-template-columns: 1fr;
    }
}

/* ANALYTICS */
.analytics{
    height: 55.5em;
    background-color: #f9fafb;
    margin-left: 15em;
    padding: 2em;
    overflow-y: auto;
}
.analytics_header{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.analytics_header p{
    font-size: 14px;
    color: rgb(59, 59, 59);
}
.analytics_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 90%;
    margin-top: 30px;
}
.stats_box{
    width: 13em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 1em;
    flex: 1;
}
.stats_box h5{
    font-weight: 300;
    margin-bottom: 10px;
}
.stats_box p{
    font-size: 1.6em;
    font-weight: bold;
}
.stats_box span{
    font-size: 12px;
}
/* Charts */
.charts{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.attendance_chart{
    padding: 3em;
    width: 90em;
    height: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 30px;
}
.attendance_chart h3{
    text-align: center;
}
.charts_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80em;
    height: 36em;
    margin-left: 4em;
    margin-top: 50px;
}
.bar_graph{
    width: 40em;
    height: 20em;
    position: relative;
}
.date_picker{
    position: absolute;
    top: -5em;
    left: -20em;
}
.date_picker_btn{
    margin-left: 16.5em;
    margin-top: 10px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 10px;
    padding: .8em;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: .8em;
    background-color: white;
    cursor: pointer;
}
.date_range{
    display: none;
    margin-left: 100px;
    position: absolute;
    right: 90px;
}
.select_date{
    display: block;
}
.doughnut_graph{
    width: 20em;
    height: 20em;
    margin-left: 10em;
}

/* Projected Charts */
.projected_charts{
    padding: 3em;
    width: 90em;
    height: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
}
.projected_attendance{
    height: 20em;
}
.projected_salary{
    position: relative;
}
.range_date{
    position: absolute;
    top: -5em;
    left: -20em;
}
.bar_graph_date_btn{
    margin-left: 16.5em;
    margin-top: 10px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 10px;
    padding: .8em;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: .8em;
    background-color: white;
    cursor: pointer;
}

/* EMPLOYEES */
.employees{
    height: 55.5em;
    background-color: #f9fafb;
    margin-left: 15em;
    padding: 2em;
}
.employees_body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.employees_header{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.employees_header p{
    font-size: 14px;
    color: rgb(59, 59, 59);
}
.employees_container{
    width: 94%;
    border: 1px solid;
    padding: 1.5em 2em;
    margin-top: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.employees_container h2{
    margin-left: 50px;
}
.employees_searchbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.employees_searchbar input{
    padding: .8em;
    width: 30em;
    outline-width: 0;
    border-radius: 5px;
    border: 1px solid;
}
.employees_searchbar select{
    padding: .8em;
    outline-width: 0;
    background-color: #212837;
    color: white;
    border-radius: 5px;
}
/* Table */
table{
    width: 100%;
}
table, th, td{
    border-collapse: collapse;
    padding: 1em;
    text-align: center;
}
th{
    background-color: rgb(236, 236, 236);
}
td i{
    font-size: 2em;
    vertical-align: middle;
}
.actions_button{
    position: relative;
}
.actions_button i:hover{
    cursor: pointer;
}
.actions{
    position: absolute;
    border: 1px solid;
    border-radius: 5px;
    text-align: left;
    background-color: white;
    display: none;
    width: 95%;
    left: 0;
    z-index: 1;
}
.actions ul{
    list-style-type: none;
}
.actions li{
    padding: 1em;
}
.actions li:hover{
    color: #cd401b;
    cursor: pointer;
}
.actions li i{
    font-size: 20px;
}
.actionsActive{
    display: block;
}

/* Employee Responsiveness */
@media (max-width: 1400px) {
    .actions li{
        font-size: 12px;
    }
    .actions li i{
        font-size: 15px;
    }
}
@media (max-width: 1000px) {
    .logo img{
        width: 8em;
    }
    .employees{
        margin-left: 12em;
    }
    .sidenav{
        font-size: 1em;
    }
    .admin_container{
        margin-top: 430px;
        font-size: .8em;
    }
    table{
        overflow-x: auto;
        font-size: 15px;
    }
}
@media (max-width: 820px) {
    table{
        font-size: 13px;
    }
}
@media (max-width: 750px) {
    table{
        font-size: 12px;
    }
}
@media (max-width: 700px) {
    .employees{
        height: 95vh;
        margin-left: 0;
        font-size: small;
    }
    .employees_header{
        margin-left: 20px;
    }
    table{
        width: 100%;
        font-size: 14px;
    }
}
@media (max-width: 600px) {
    .employees{
        font-size: 12px;
        height: 95vh;
    }
    table{
        font-size: 10px;
    }
}

/* LEAVE REQUEST */
.leave_request{
    height: 55.5em;
    background-color: #f9fafb;
    margin-left: 15em;
    padding: 2em;
}
.leave_request_header{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.leave_request_header p{
    font-size: 14px;
    color: rgb(59, 59, 59);
}
.leave_request_body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.request_container{
    width: 94%;
    background-color: white;
    padding: 1.5em;
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    height: 46em;
    border-radius: 20px;
}
.search_date{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90em;
}
.search_bar_container{
    display: flex;
    align-items: center;
    position: relative;
    width: 28em;
}
.request_search_bar{
    width: 100%;
    padding: .8em;
    border: none;
    border-bottom: 1px solid;
}
.search_bar_container i{
    position: absolute;
    right: 0;
}
.request_date_picker_btn{
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    border-bottom: 1px solid;
    padding: .8em;
    background-color: white;
}
/* Request Boxes */
.requests_boxes{
    width: 90em;
    height: 37em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 2em;
    background-color: #f9fafb;
    overflow-y: auto;
}
.requests{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    align-items: center;
    padding: 10px;
    height: 25em;
    gap: 10px;
}
.requestor{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 1em;
}
.user_photo{
    width: 4em;
    border-radius: 2em;
}
.requestor div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.requestor div p{
    font-size: large;
}
.request_type{
    font-size: 11px;
    font-weight: 500;
    padding: .5em;
    background-color: #f9fafb;
    margin-top: 10px;
    border-radius: 5px;
}
.requestor i{
    margin-left: 7em;
    font-size: 1.5em;
}
.request_message{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9fafb;
    height: 60%;
    width: 90%;
    text-align: center;
    font-size: 12px;
    color: rgb(97, 97, 97);
}
.request_date{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    margin-top: 10px;
    margin-left: -20em;
}
.request_date i{
    font-size: 18px;
    color: red;
}
